.overlay {
  color: #fff;
  display: block;
  position: fixed;
  padding: 200px 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  text-align: center;
}

.App {
  background-image: url('./imgs/do.jpg');
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.34);
  background-color: black;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.Header {
  background: #780F0F;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-name {
  margin: 0;
  color: #fff;
  font-size: 2em;
}

.exclaim {
  color: black;
  font-size: 2.2em;
  font-style: italic;
}

.dropdown {
  margin-top: 45px;
  margin-left: 20px;
  width: 160px;
  display: inline-block;
}

.dropdown span {
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Dojo {
  height: 85vh;
  text-align: center;
}

.Array-cards, .String-cards,
.Object-cards {
  background: black;
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.title, .saved-cards h3 {
  margin: 0;
}

.title:hover, .start:hover,
.arr-type:hover, .saved-cards:hover {
  cursor: pointer;
}

.saved-cards {
  background: #fff;
  display: inline-flex;
  margin: 10px;
  padding: 10px;
}

#flip {
  background-color: #fff;
  border-radius: 15px;
  margin: 0px auto auto 180px;
  width: 700px;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center; 
}

#flip div {
  background-color: #fff;
  border-radius: 15px;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#flip .back {
  transform: rotateX( 180deg );
}

#flip.flipped {
  transform: rotateX( -180deg );
}


