.App {
  background-image: url('./imgs/do.jpg');
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.34);
  background-color: black;
  background-size: cover;
  min-height: 100vh;
}

.Header {
  background: #780F0F;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-name {
  margin: 0;
  color: #fff;
  font-size: 2em;
}

.exclaim {
  color: black;
  font-size: 2.2em;
  font-style: italic;
}

.dropdown {
  margin-top: 45px;
  margin-left: 20px;
  width: 160px;
  display: inline-block;
}

.dropdown span {
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Dojo {
  height: 85vh;
  text-align: center;
}

.Array-cards, .String-cards, .Object-cards {
  background: black;
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.title {
  margin: auto;
}

.title:hover, .start:hover, .arr-type:hover {
  cursor: pointer;
}

.saved-cards {
  background: #fff;
  display: inline-flex;
  width: 200px;
  height: 300px;
}

.flash-card {
  background: #fff;
  margin: 0px auto auto 180px;
  width: 700px;
}


